body{
    margin: 0;
    padding: 0;
}

header .fondo-hero{
    position: relative;
}

header .fondo-hero img{
    width: 99vw;
    height: 60vh;
    object-fit: cover;
}

.fondo-hero .overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

.fondo-hero #fondo-hero-container,
.fondo-hero .overlay #fondo-hero-overlay{
    height: 100%;
}

.fondo-hero span{
    font-size: 42px;
    font-family: 'PT Sans', sans-serif;
}

.fondo-hero h1{
    font-size: 73px;
    font-family: 'PT Sans', sans-serif;
}

/* SECTION */
.column{
    margin: 0;
    padding: 0;
}

.caja{
    margin: 0;
    padding: 0;
    /* width: 318px; */
    height: 266px;
    position: relative;
}

section #img1{
    background: url('9195-min.jpg');
    background-size: cover;
}

section #img2{
    background: url('accesorios.jpg');
    background-size: cover;
}

section #img3{
    background: url('7543-min.jpg');
    background-size: cover;
}

section #img4{
    background: url('8901-min.jpg');
    background-size: cover;
}

.title{
    height: 90px;
    background: rgba(0,0,0, .3);
    display: none;
    color: white;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
}

.caja:hover .title{
    display: flex;
    align-items: center;
    justify-content: center;
}

section .caja .title a{
    border: 1px solid white;
    color: white;
    margin-left: 12px;
}

/* Carousel */

.container-fluid{
    padding: 0;
}

.row{
    margin: 0;
    padding: 0;
}

.carousel-inner img {
    width: 100%;
    height:100%;
    object-fit: cover;
}

.contenedor .banner img{
    width: 100%;
    height: 100%;
}

/* Carousel de productos detallados */

.carusel{
    width: 100%;
    overflow: scroll;
}

.carusel::-webkit-scrollbar{
    width:0px;
}

.contenedor{
    margin-right: 12px;
    position: relative;
}

.contenedor .contenedor-desc a{
    margin-top: 0;
}

.contenedor-img img{
    width: 280px;
    height: 300px;
    object-fit: cover;
}

.contenedor-desc{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0,0,0, 0.4);
    display: none;
    color: white;
}
.contenedor-img:hover .contenedor-desc{
    display: inline;
}

.contenedor:hover .contenedor-desc a{
    color: aliceblue;
    cursor: pointer;
}

@media (max-width: 376px){
    .carousel-inner img {
        width: 100%;
        height:250px;
        object-fit: cover;
    }
    
    .contenedor .banner img{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}